<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.dlut.mycloudregister.dal.mapper.RegisterUserMapper" >
	<resultMap id="BaseResultMap" type="RegisterUser" >
		<id column="account" property="account"  />
		<result column="username" property="username"  />
		<result column="password" property="password"  />
		<result column="role" property="role" />
		<result column="gmt_create" property="gmtCreate"  />
		<result column="gmt_modified" property="gmtModified" />
		<result column="tele_num" property="teleNum"  />
		<result column="email" property="email"  />
	</resultMap>
	
	<sql id="Base_Column_List" >
    account, username, password, role, gmt_create, gmt_modified, tele_num, email
	</sql>
  
	<select id="getRegUserByAcount" resultMap="BaseResultMap" >
    select 
		<include refid="Base_Column_List" />
    from mycloud_register
    where account = #{account}
	</select>
  
	
  
	<insert id="createRegUser" >
    insert into mycloud_register (account, username, password, 
      role, gmt_create, gmt_modified, 
      tele_num, email)
    values (#{account}, #{username}, #{password}, 
      #{role}, now(), now(), 
      #{teleNum}, #{email})
	</insert>
  
</mapper>